# SHAP 101 - explaining ml models and beyond

## Feature Attributions
SHAP (SHapley Additive exPlanations) - https://shap.readthedocs.io/en/latest/
Understand individual predictions - https://www.kaggle.com/code/dansbecker/shap-values/tutorial
Aggregate SHAP values for even more detailed model insights - https://www.kaggle.com/code/dansbecker/advanced-uses-of-shap-values/tutorial

Convert SHAP Score to percentage: https://medium.com/towards-data-science/black-box-models-are-actually-more-explainable-than-a-logistic-regression-f263c22795d

## Partial Dependence Plot
Partial Dependence Plot Theory - https://christophm.github.io/interpretable-ml-book/pdp.html
Partial Dependence Plots - https://scikit-learn.org/stable/modules/partial_dependence.html

## Additional References
Fairlearn - https://fairlearn.org

# Kaggle Titanic Compitition
https://www.kaggle.com/competitions/titanic

In [1]:
from utils.util import KaggleData, current_dir_subpath
titanic_train_path = current_dir_subpath("data/train.csv")
titanic_test_path = current_dir_subpath("data/test.csv")

titanic = KaggleData(
     train_path = titanic_train_path,
     test_path = titanic_test_path
)

# train_df, test_df = titanic.load()
data_df = titanic.load_all()

In [3]:
data_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S